<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <form> 
        Product Name         <input type="text" ><br>
        Gross_Weight         <input type="text"><br>
        Net_Weight           <input type="text"><br>
        Material             <input type="text"><br>
        Purity               <input type="text"><br>
        Description          <textarea></textarea><br>
        Purchased From       <input type="text"><br><br>
        Purchase Bill Number <input type="text"><br>
        <input type="submit" value="add">submit</input><br>
    </form>
</body>
</html>

